/* banner */

#banner{
  width: 100%;
  min-width: 1200px;
  height: 270px;
}
#banner .container{
  padding: 0;
    width: 100%;
  min-width: 1200px;
  overflow: hidden;
}
#banner .container .gradient{
  width: 200%;
  height: 80px;
  background: linear-gradient(to right, #2E69C9, #2E69C9, #33e4e1,#33e4e1);
  box-shadow:inset 0 -40px 40px 10px rgb(255, 255, 255), inset 0 -20px 16px 0px rgb(255, 255, 255,1);
}
#banner .container .title{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 200px;
}

#banner .container .title h1{
  display: inline-block;
  line-height: 1.2;
  font-size: 70px;
  letter-spacing: -2%;
  background: linear-gradient(to right, #2E69C9, #26D5D1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#banner .container .title img{
  width: 71px;
  height: 78px;
}
#banner .container .list{
  display: flex;
  padding: 78px 200px 0;
  gap: 40px;
}
#banner .container .list li a{
  font-size: 17px;
  color: #333;
  letter-spacing: -2%;
  font-family: 'Samsung Medium';
}
#banner .container .list li:first-child{
font-weight: bold;
border-bottom: 2px solid #333;
}




/* popupcard */
#popup_card{
  width: 100%;
  min-width: 1200px;
}

#popup_card .container{
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}

#popup_card .container .txt{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
#popup_card .container .txt .style{
  padding-right: 10px;
  background: linear-gradient(to right, #2E69C9, #26D5D1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#popup_card .container .txt h1{
  font-family: 'Samsung Bold';
  font-size: 30px;
  padding-bottom: 70px;
}

#popup_card .container .txtcard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#popup_card .container .txtcard .card{
  background-color: #f4f4f4;
  border-radius: 10px;
}
#popup_card .container .txtcard .card a {
  width: 320px;
  height: 380px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  position: relative;
}
#popup_card .container .txtcard .card a b{
  font:bold 14px 'Samsung Medium';
  color: #444;
  margin-top: 25px;
  padding: 0 31px;
  margin-bottom: 10px;
}
#popup_card .container .txtcard .card a strong{
  font: bold 22px 'Samsung Bold';
  color: #111;
  padding: 0 31px;
  margin-bottom: 10px;
}
#popup_card .container .txtcard .card a span{
  font: normal 13px 'Samsung Medium';
  color: #666;
  padding: 0 31px;
}

#popup_card .container .txtcard .card:nth-child(1) a img{
  width: 320px;
  position: absolute;
  bottom: 20px;

}
#popup_card .container .txtcard .card:nth-child(2) a img{
  width: 200px;;
  position: absolute;
right: 60px;
bottom: 40px;
}
#popup_card .container .txtcard .card:nth-child(3) a img{
  width: 232px;
  position: absolute;
  right: 44px;
  bottom: 40px;
}
#popup_card .container .txtcard .card:nth-child(4) a img{
  width: 286px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#popup_card .container .txtcard .card:nth-child(5) a img{
  width: 206px;
  position: absolute;
  right: 58px;
  bottom: 0px;
}
#popup_card .container .txtcard .card a i{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}