/* header */
header{
  font-family: "Samsung Bold";
  width: 100%;
  min-width: 1200px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  position: relative;
  z-index: 9999;
}
  header .container{
  display: flex;
  align-items: center;
  padding: 27px 0;
  height: 68px;
}
.logo{
  margin-right: 245px;
}


.logo a img{
  width: 87px;
  height: 14px;
  margin-left: 10px;
}

nav{
  display: flex;
  gap: 33px;
}
nav > .icon{
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
nav .gnb{
  display: flex;
  gap: 33px;
}
nav .gnb li a{
  font-size: 12px;
  color: #666;
  font-weight: bold;
  line-height: 15px;
}
nav > .icon > li img:nth-child(1){
  width: 14px;
  height: 14px;
}
nav > .icon > li img:nth-child(2){
  width: 15px;
  height: 16px;
}