/* banner */
#banner{
  width: 100%;
  min-width: 1200px;
  height: 475px;
  background: url(../img/trifold.png) center/cover;
  position: relative;
}
#banner .container{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
}
#banner h1{
  color: #fff;
  font-family: "Samsung Bold","Noto Sans Korean";
  font-size: 40px;
}
#banner h2{
  color: #fff;
  font-family: "Samsung Medium","Noto Sans Korean";
  font-weight: normal;
  font-size: 30px;
}
#banner h2 img{
  height: 34px;
  padding-left: 6px;
}
#banner p{
  color: #fff;
  font-family: "Samsung Regular","Noto Sans Korean";
  font-size: 16px;
}
#banner .btn{
  margin-top: 25px;
}
#banner .btn a{
color: #fff;
display: inline-block;
padding: 8px 20px;
border: 2px solid #fff;
border-radius: 20px;
font-size: 12px;
}
/* items */
#items{
  width: 100%;
  min-width: 1200px;
}
#items .container{
  width: 1190px;
  padding: 30px 0;
  display: flex;
  gap: 10px;
}
#items .container .box {
  height: 330px;
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
#items .container .box a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#items .container .box a h2{
  font-family: "Samsung Bold","Noto Sans Korean";
  font-size: 26px;
  color: #222;
  padding-bottom: 30px;
}

#items .container .box a img{
  height: 171px;
}

/* banner_2 */
#banner_2{
  width: 100%;
  min-width: 1200px;
  height: 470px;
  background: url(../img/zfold7.png) center/cover;
  position: relative;
  display: inline-block;
}
#banner_2 .container{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#banner_2 .container .list{
  position: relative;
  bottom: 55px;
  right: 20px;
  }

  #banner_2 h1{
    font-family: 'Samsung Bold';
  color: #222;
  }
  #banner_2 h1:nth-child(1){
    font-size: 40px;
  }
  #banner_2 h1:nth-child(2){
    font-size: 33px;
    font-weight: bold;
  }
  #banner_2 h2{
    font-size: 30px;
    margin-top: 10px;
    color: #222;
    font-family: 'Samsung Medium';
    font-weight: 100;
    }
  #banner_2 h2 img{
    height: 34px;
    padding-left: 6px;
    position: relative;
    top: 5px;
  }
  #banner_2 p{
    margin-top: 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
  }
#banner_2 .btn{
  margin-top: 20px;
  margin-bottom: 16px;
}
#banner_2 .btn a{
color: #222;
display:inline-block;
padding: 6px 20px;
border: 1px solid #222;
border-radius: 20px;
font-size: 12px;
}

/* items */
#items_2{
  width: 100%;
  min-width: 1200px;
}
#items_2 .container{
  width: 1190px;
  padding: 30px 0;
  display: flex;
  gap: 10px;
}
#items_2 .container .box {
  height: 330px;
  flex: 1;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

#items_2 .container .box a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#items_2 .container .box a h2{
  font-family: "Samsung Bold","Noto Sans Korean";
  font-size: 26px;
  color: #222;
  padding-bottom: 30px;
}

#items_2 .container .box a .img1{
  height: 150px;
  margin-top: 12px;
  margin-bottom: 20px;
}
#items_2 .container .box a .img2{
  height: 110px;
  margin-top: 42px;
  margin-bottom: 30px;
}
#items_2 .container .box a .img3{
  height: 150px;
  margin-top: 12px;
  margin-bottom: 20px;
}
#items_2 .container .box a .img4{
  height: 182px;
}

/* banner_3 */
#banner_3{
  width: 100%;
  min-width: 1200px;
  height: 590px;
  background: url(../img/s25Edge.png) center/cover;
  position: relative;
  display: flex;
}
#banner_3 > .container{
  display: flex;
  align-items: center;
  text-align: center;
  height: 172px;
  width: 100%;
}

#banner_3 .container .txt{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
gap: 428px;
white-space: nowrap;
}

#banner_3 .container .txt .left{
  font-family: 'Samsung Bold';
}
#banner_3 .container .txt .left h1{
  color: #222;
  font-size: 50px;
  margin-bottom: 10px;
}
#banner_3 .container .txt .left h2{
  color: #222;
  font-size: 35px;
  font-family: 'Samsung Medium';
  font-weight: 300;
  margin-bottom: 12px;
}
#banner_3 .container .txt .left .btn a{
color: #222;
display: inline-block;
padding: 10px 20px;
border: 2px solid #222;
border-radius: 40px;
font-size: 15px;
}


#banner_3 .container .txt .left h2 img{
  height: 34px;
  padding-left: 6px;
  position: relative;
  top: 5px;
}

#banner_3 .container .txt .right h1{
color: #fff;
font-family: 'Samsung Regular';
font-size: 50px;
font-weight: 100;
}

/* layer_card */

#layer_card{
  width: 100%;
  min-width: 1200px;
  height: 740px;
}
#layer_card .container{
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  padding-top: 90px;
}
#layer_card .container .txt{
max-width: 1200px;
display: flex;
align-items: center;
justify-content: center;
}
#layer_card .container h1{
  margin-bottom: 70px;
  margin-right: 70px;
  font-size: 40px;
  color: #222;
  letter-spacing: -1px;
}

#layer_card .container .box{
  gap: 24px;
  display: flex;
  height: 490px;
}
#layer_card .container .box .card{
  width: 290px;
}
#layer_card .container .box .card a{
  width: 290px;
  background-color: #f4f4f4;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#layer_card .container .box .card h2{
  font-size: 22px;
  font-family: 'Samsung Bold', "Noto Sans Korean";
  color: #333;
  margin-top: 38px;
  margin-bottom: 67px;
}

#layer_card .container .box .card b{
  font-weight: normal;
  font-size: 13px;
  font-family: "Noto Sans Korean";
  color: #666;
  letter-spacing: -3%;
}

#layer_card .container .box .card p{
  color: #333;
  font-size: 19px;
  font-family: 'Samsung Bold';
  font-weight: bold;
}

#layer_card .container .box .card img{
  height: 210px;
}
#layer_card .container .box .card:nth-child(5) img{
  height: 240px;
}
#layer_card .container .box .card:last-child img{
  height: 160px;
}

/* popupcard */
#popup_card .container{
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
}

#popup_card .container .txt{
max-width: 1200px;
display: flex;
align-items: center;
justify-content: center;
}
#popup_card .container h1{
  max-width: 1200px;
  font-family: 'Samsung Bold';
  font-size: 50px;
  padding-bottom: 70px;
}

#popup_card .container .txtcard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#popup_card .container .txtcard .card{
  background-color: #f4f4f4;
  border-radius: 10px;
}
#popup_card .container .txtcard .card a {
  width: 320px;
  height: 380px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  position: relative;
}
#popup_card .container .txtcard .card a b{
  font:bold 14px 'Samsung Medium';
  color: #444;
  margin-top: 25px;
  padding: 0 31px;
  margin-bottom: 10px;
}
#popup_card .container .txtcard .card a strong{
  font: bold 22px 'Samsung Bold';
  padding: 0 31px;
  margin-bottom: 10px;
}
#popup_card .container .txtcard .card a span{
  font: normal 13px 'Samsung Medium';
  color: #666;
  padding: 0 31px;
}

#popup_card .container .txtcard .card:nth-child(1) a img{
  width: 320px;
  position: absolute;
  bottom: 20px;

}
#popup_card .container .txtcard .card:nth-child(2) a img{
  width: 200px;;
  position: absolute;
right: 60px;
bottom: 40px;
}
#popup_card .container .txtcard .card:nth-child(3) a img{
  width: 232px;
  position: absolute;
  right: 44px;
  bottom: 40px;
}
#popup_card .container .txtcard .card:nth-child(4) a img{
  width: 286px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#popup_card .container .txtcard .card:nth-child(5) a img{
  width: 206px;
  position: absolute;
  right: 58px;
  bottom: 0px;
}
#popup_card .container .txtcard .card a i{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}