@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'Samsung Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular'), url(../font/samsungsharpsans.otf)format(truetype),url('../font/samsungsharpsans.woff') format('woff');
}
    

@font-face {
  font-family: 'Samsung Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url(../font/samsungsharpsans-medium.otf)format(truetype), url('../font/samsungsharpsans-medium.woff') format('woff');
}
    

@font-face {
  font-family: 'Samsung Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Bold'), url(../font/samsungsharpsans-bold.otf)format(truetype), url('../font/samsungsharpsans-bold.woff') format('woff');
}
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  color: #111;
/* outline: 1px solid red; */
}
ul,li{
  list-style: none;
}
a{text-decoration: none;
}

button{
  border: none;
  outline: none;
}

.container{
font-family: "Samsung Bold";
width: 1200px;
margin: auto;
padding: 100px 20px;
}
